// @import "index";

@import "~bulma/sass/utilities/_all";

$primary: #eb0cc6;
$secondary: #6e0d0d;
$link: blue;

$colors: (
  "primary": ($primary),
  "secondary": ($secondary),
  "active": ($link)
);

